/* fusion-pixel-12px-monospaced-kr-latin-400-normal */
@font-face {
  font-family: 'Fusion Pixel 12px Monospaced KR';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/fusion-pixel-12px-monospaced-kr@latest/latin-400-normal.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/fusion-pixel-12px-monospaced-kr@latest/latin-400-normal.woff) format('woff');
}

body {
  margin: 0 20px;
  background: #f4f4f9;
}

h2 {
  font-family: sans-serif;
}

a#run-code-link {
  color: #007bff;
  text-decoration: none;
}

a#run-code-link:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

textarea#code {
  height: 300px;
  font-family: 'Fusion Pixel 12px Monospaced KR', monospace;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
}

#terminal {
  height: 400px;
  background: #1e1e1e;
  color: #d4d4d4;
  padding: 10px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: monospace;
  font-size: 16px;
}
