/* fusion-pixel-12px-monospaced-kr-latin-400-normal */
@font-face {
  font-family: "Fusion Pixel 12px Monospaced KR";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    url(https://cdn.jsdelivr.net/fontsource/fonts/fusion-pixel-12px-monospaced-kr@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/fusion-pixel-12px-monospaced-kr@latest/latin-400-normal.woff)
      format("woff");
}

:root {
  --disabled-color: #ccc;
  --border-color: #ccc;
  --background-color: #f4f4f9;
  --input-monospace-font: "Fusion Pixel 12px Monospaced KR", monospace;
  --output-monospace-font: monospace;
}

body {
  margin: 0 20px;
  background: var(--background-color);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: sans-serif;
}

.hide {
  display: none;
}

.btn {
  all: unset;
  transition: color 0.2s;
}

#run-btn {
  color: #1285ff;
}
#kill-btn {
  color: #c82333;
}

.btn:hover:not(:disabled) {
  filter: brightness(1.2);
  text-decoration: underline;
}

.btn:disabled {
  color: var(--disabled-color);
}

main {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.pane {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pane label {
  font-weight: bold;
  font-family: sans-serif;
}

#stderr-status {
  font-family: var(--output-monospace-font);
  color: #ff8c8c;
  margin-left: 10px;
}

.editor {
  height: 500px;
  font-size: 16px;
  padding: 10px;

  word-break: break-all;
  overflow-wrap: anywhere;
  overflow: auto;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.in-editor {
  font-family: var(--input-monospace-font);
  background: white;
}

.out-editor {
  font-family: var(--output-monospace-font);
}

#stdout-editor {
  background: #1e1e1e;
  color: #d4d4d4;
}

#stderr-editor {
  background: #2a1e1e;
  color: #ff8c8c;
}
